PROJECT_NAME=RequestFlow API
PROJECT_VERSION=0.1.0
PROJECT_DESCRIPTION=API backend para la gestión de solicitudes institucionales y empresariales.
ENVIRONMENT=development

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/requestflow_db